body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    
    background-image: url('images/peakpx.jpg'); /* Percorso dell'immagine */
    background-size: cover; /* L'immagine copre tutto lo schermo */
    background-position: center; /* L'immagine è centrata */
    background-repeat: repeat; /* L'immagine non si ripete */
    background-attachment: fixed; /* Lo sfondo rimane fisso durante lo scrolling */
}


header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

header nav a:hover {
    color: #ffa500;
}

section {
    padding: 20px;
    margin: 20px 0;
    background: #fff;
    border-radius: 5px;
}

/* Animazione per mostrare il contenuto da sinistra a destra */
.section-content {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.section-content.visible {
    transform: translateX(0);
    opacity: 1;
}
.project-item {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 1s ease-out;
}

.project-item.visible {
    transform: translateX(0);
    opacity: 1;
}
h2 {
    color: #333;
}

.skill-content {
    display: none;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 0;
}

.skill-title {
    cursor: pointer;
    transition: all 0.3s ease;
}

.skill-title:hover {
    color: #ffa500;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed; /* Fissa il footer */
    bottom: 0;       /* Posizionalo alla fine della pagina */
    left: 0;
}

