html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
overflow: hidden; /* Assicurati che non ci sia overflow */
    height: 100%; /* Assicurati che il body occupi tutta l'altezza della viewport */
    display: flex;
    flex-direction: column;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:transparent;
    background-size: cover;
       z-index: 1; /* Le particelle saranno sotto il testo */

}


header {
    background-image: url('img/peakpx.jpg'); /* Percorso dell'immagine */
    background-size: cover; /* L'immagine copre tutto lo schermo */
    background-position: center; /* L'immagine è centrata */
    background-repeat: no-repeat; /* L'immagine non si ripete */
    background-attachment: fixed; /* Lo sfondo rimane fisso durante lo scrolling */
    z-index: 2; /* Il testo sarà sopra le particelle */
    color: white;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

header nav a:hover {
    color: #ffa500;
}
#welcome {
    padding: 20px;
    margin: 20px 0;
     background-color: #f4f4f4; /* Colore di sfondo uguale a quello del body */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombra per dare profondità */
}

#welcome h2 {
    color: #333;
}

#welcome p {
    color: #555; /* Colore per il testo */
}
section {
    padding: 20px;
    margin: 20px 0;
    background-color: #f4f4f4; /* Colore di sfondo uguale a quello del body */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombra per dare profondità */

}

/* Animazione per mostrare il contenuto da sinistra a destra */
.section-content {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-out, opacity 1s ease-out;
     background-color: #f4f4f4; /* Colore di sfondo uguale a quello del body */

}

.section-content.visible {
    transform: translateX(0);
    opacity: 1;
}
.project-item {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 1s ease-out;
}

.project-item.visible {
    transform: translateX(0);
    opacity: 1;
}
h2 {
    color: #333;
}

.skill-content {
    display: none;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 0;
}

.skill-title {
    cursor: pointer;
    transition: all 0.3s ease;
}

.skill-title:hover {
    color: #ffa500;
}

main {
    flex: 1; /* Occupa tutto lo spazio disponibile tra header e footer */
        overflow-y: auto; /* Permette lo scrolling verticale se necessario */
}
/* Stile per il contenitore della cartella */
        .folder {
            cursor: pointer;
            font-weight: bold;
            display: left;
            align-items: center; /* Allinea verticalmente */
            padding: 5px 5px; /* Aggiungi un po' di padding */
        }

        /* Stile per l'icona della cartella */
        .folder-icon {
            width: 24px;
            height: 24px;
            margin-right: 5px; /* Spazio tra icona e testo */
            vertical-align: middle; /* Centra verticalmente rispetto al testo */
        }

        /* Stile per il contenuto della cartella */
        .nested {
            display: none;
            list-style-type: disc; /* Rimuove i punti predefiniti */
            margin-left: 20px; /* Sposta il contenuto verso destra */
            position: relative; /* Per allineare le linee dei rami */

        }

        .folder.open + .nested {
            display: block; /* Mostra il contenuto se la cartella è aperta */
        }
        .nested li::before {
            content: url('https://img.icons8.com/?size=100&id=Fdi7ntj1iIml&format=png'); /* Sostituisci con un'icona di ramo */
            position: absolute;
            left: -25px; /* Distanza dal punto del testo */
            top: 7px;
        }
/* Contenitore del form */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px; /* Imposta la larghezza massima */
    margin: 0 left; /* Centra il form orizzontalmente */
    padding: 20px; /* Aggiungi padding interno */
    background-color: #fff; /* Colore di sfondo */
    border-radius: 10px; /* Arrotonda gli angoli */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra */
}

/* Campi di input e textarea */
input, textarea {
   padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Permette solo la ridimensione verticale */
    overflow: auto;   /* Mostra le barre di scorrimento se necessario */
    max-width: 100%;  /* Assicura che non superi la larghezza del form */
    box-sizing: border-box; /* Include il padding e il bordo nel calcolo della larghezza */
}

/* Bottone di invio */
button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


footer {
background-image: url('img/peakpx.jpg'); /* Percorso dell'immagine */
    background-size: cover; /* L'immagine copre tutto lo schermo */
    background-position: center; /* L'immagine è centrata */
    background-repeat: no-repeat; /* L'immagine non si ripete */
    color: #fff;
    text-align: center;
    padding: 5px 0; /* Aggiungi padding per un po' di spazio interno */
    width: 100%; /* Assicurati che il footer sia largo il 100% */
}

